con()
  $compactProp( arguments )

opa()
  $compactProp( arguments )

ver()
  $compactProp( arguments )

dis()
  $compactProp( arguments )

vis()
  $compactProp( arguments )

cur()
  $compactProp( arguments )

box()
  $compactProp( arguments )
  
sha()
  $compactProp( arguments )

ove()
  $compactProp( arguments )

tra()
  $compactProp( arguments )

bac()
  $compactProp( arguments )

out()
  $compactProp( arguments )

pos()
  $compactProp( arguments )

txt()
  $compactProp( arguments )

hei()
  $compactProp( arguments )
  
wid()
  $compactProp( arguments )

flx()
  $compactProp( arguments )

bor()
  $compactProp( arguments )

mar()
  $compactProp( arguments )
  
pad()
  $compactProp( arguments )
