.including_units {
  background: 3px;
  flex: 3;
  transition: 3s;
  animation: 3s 4;
}
.including_values {
  background-attachment: scroll;
  background-size: cover;
  background: scroll;
  background: cvr;
}
