.including_units
  bac 3
  flx 3
  tra 3
  ani 3 4x //explictly set to 's', despite animation-iteration-count

.including_values
  bac att scr
  bac siz cvr //not included in background property
  bac scr
  bac cvr //so this don't work
  ani inf
